@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --primary-color: #100c08;
    --secondary-color: #F9F9F9;
    --secondary2-color: rgb(168, 163, 163);
    --post-bg-color: #263757;
    --tertiary-color: #4D77FF;
    --tertiary2-color: #9eb3f8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1300px; */
    margin: 0 auto;
}

main {
    width: 90%;
    height: 100vh;
    display: flex;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    overflow: hidden;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    /* box-shadow: ; */

}

nav {
    display: none;
}


.left-sidebar {
    width: 35%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem;
}


.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

.logo span {
    color: var(--tertiary-color);
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.profile-container {
    display: none;
}

.user-profile {
    display: flex;
    width: 100%;
    /* max-width:360px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.side-bar .user-profile {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 1rem;

}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.user-profile-name {
    margin-top: 0.5rem;
    text-align: center;
}

.user-profile-name #name {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
}

.user-profile-name #location {
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary2-color);
}

.metrics {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.metrics div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    color: var(--secondary-color);
}

.metrics div span {
    font-size: 13px;
    color: var(--secondary2-color);
}

.metrics div p {
    font-size: 18px;
    font-weight: 500;
}

hr {
    width: 100%;
    height: 1px;
    background-color: rgb(236, 236, 236);
    margin: 1rem 0;
}

.home-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    justify-content: start;
}

.home-btns>div {
    width: 150px;
    display: flex;
    margin-bottom: 0.5rem;
    gap: 1rem;
    cursor: pointer;
    /* background-color: var(--tertiary-color); */
    padding: 5px 10px;
}

.home-btns div span {
    font-size: 13px;
}

.home-btns>div:hover {
    /* color: var(--tertiary-color); */
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 10px;
}

/* .home-btns > div .icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600; */
/* color: var(--primary-color); */
/* } */
.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 2rem; */
}

.contacts h5 {
    font-size: 16px;
    font-weight: 500;
    /* color: rgb(71, 67, 67); */
    margin-bottom: 0.5rem;
    text-align: left;
    color: var(--secondary-color);
}

.contact .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

.contact .user .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

.user div:nth-child(2) {
    margin-top: 0rem;
    text-align: left;
}

.contact .user-profile-name #name {
    font-size: 12px;
    font-weight: 500;
}

.contact .user-profile-name #location {
    font-size: 12px;
    color: rgb(168, 163, 163);
}

.contacts .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
    padding: 4px;
}

.contact i {
    color: var(--tertiary-color);
}

.contacts .contact:hover {
    /* background-color: var(--tertiary2-color); */
    border-radius: 5px;
    /* color: var(--primary-color); */
    border: 1px solid var(--tertiary-color);
}

.contacts .view-more-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--tertiary-color);
    /* font-weight: 500; */
}

.view-more-btn span {
    font-size: 13px;
    margin-bottom: 0.5rem;
}

.view-more-btn:hover {
    color: var(--tertiary2-color);
}

.feeds-container {
    /* width: 100%; */
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-bottom: 1rem; */
    height: 100svh;
    overflow-y: auto;
    padding: 0.5rem 0 0 1.5rem;
}

.logo-container {
    display: none;
}

.feeds-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.stories-container {
    display: none;
}

#desktop-search {
    padding: 6px 12px;
    padding-left: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 13px;
    /* border: 1px solid var(--primary-color); */
    /* background-color: transparent; */
    width: 250px;
    min-width: 180px;
    /* margin: 10px 0 25px 0; */

}

.home-search-input {
    position: relative;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.home-search-icon {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--secondary2-color);
}

.add-post-btn {
    display: flex;
    /* justify-content: space-between; */
    gap: 0.6rem;
    align-items: center;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 14px;
    /* background: rgb(145, 78, 199); */
    background: linear-gradient(90deg, rgba(145, 78, 199, 1) 0%, rgb(13, 84, 199) 80%);
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.add-post-btn:hover {
    transform: scale(0.98);
}

.stories {
    display: flex;
    gap: 0.4rem;

}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    gap: 0.5rem;
    padding: 4px;
    /* margin-top: 0.7rem; */
}

.feeds-container h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    margin: 0.5rem 0 0.5rem 0;
}

.user-name,
#add-story span {
    font-size: 12px;
    color: var(--secondary-color);
    cursor: pointer;
}

.add-story-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
    /* background: rgb(145, 78, 199); */
    border: 1px solid var(--secondary2-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.user-avatar {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    border: 3px solid var(--tertiary-color);
    cursor: pointer;
}

.feeds-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.feeds-category-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.feeds-category-btns button {
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.feeds-category-btns button:hover {
    transform: scale(0.98);
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.feed-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 1rem;
    /* height: 100svh; */
    /* overflow-y: auto; */

}

.scrollable {
    display: flex;
    /* overflow-y: auto; */
    flex-direction: column;
    gap: 1rem;

}

#post {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    /* max-width: 400px; */
    padding: 15px;
    border-radius: 10px;
    /* height: 300px; */
    background-color: var(--post-bg-color);
}

#post .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.9rem;
}

#post .user-info .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

#post .user-info .user .post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name p:nth-child(2) {
    text-align: left;
    color: var(--secondary2-color);
    font-size: 12px;
}

.user-name p:nth-child(1) {
    text-align: left;
    /* color: var(--secondary2-color); */
    font-size: 15px;
}

.post-options {
    cursor: pointer;
}

.post-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-media {
    width: 100%;
    height: 200px;
    /* height: 100%; */
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.post-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.post-content p span {
    font-size: 12px;
    color: var(--tertiary-color);
    cursor: pointer;
}

.post-reactions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}

.post-reactions i {
    cursor: pointer;
    font-size: 22px;
}

.post-reactions .reactions {
    display: flex;
    gap: 1.5rem;
}

.post-reactions .reactions .reaction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.post-reactions .reactions .reaction:hover {
    color: var(--tertiary2-color);

}

.save-post {
    cursor: pointer;
}

.right-sidebar {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1rem 1.7rem;
}

.friend-requests {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.freind-requests-header {
    display: flex;
    gap: 1.2rem;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 0.5rem;

}

.freind-requests-header h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary-color);
}

.request .user .avatar {
    width: 40px;
    height: 40px;
}

.request>.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-profile p {
    font-size: 12px;
    color: var(--secondary2-color);
}

#friends-name {
    font-size: 14px;
    font-weight: 600;
}

.request-reaction-btns {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 0.5rem;
}

.request-reaction-btns button {
    border: none;
    color: var(--secondary-color);
    background: transparent;
    font-size: 14px;
    cursor: pointer;
}

.request-reaction-btns button:nth-child(1) {
    color: var(--tertiary-color);
}

.request-reaction-btns button:nth-child(2) {
    color: var(--secondary2-color);
}

.request-reaction-btns button:hover {
    color: var(--tertiary2-color);
}

.suggestions {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.suggestions h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

.suggested {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.suggested-friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 4px;
}

.suggested .user {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.suggested .user .avatar {
    width: 40px;
    height: 40px;
}

.person_add-icon i {
    cursor: pointer;
    font-size: 30px;
    color: var(--tertiary-color);
}

.active {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 10px;
}

@media screen and (max-width: 1108px) {
    main {
        width: 100%;
        height: 100vh;
    }

    .left-sidebar {
        display: none;

    }

    .logo-container {
        display: block;
    }

    nav {
        background: rgba(0, 0, 0, 0.3);
        width: max-content;
        display: inline-block;
        padding: 0.4rem 0.6rem;
        z-index: 2;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        display: flex;
        gap: 0.5rem;
        border-radius: 3rem;
        backdrop-filter: blur(20px);
    }

    nav a {
        background: transparent;
        padding: 0.5rem;
        display: flex;
        border-radius: 50%;
        font-size: 1.1rem;
        color: var(--secondary-color);
        cursor: pointer;
    }

    nav a:hover {
        background: var(--tertiary-color);
    }

    /* nav a.active {
        background: var(--color-primary);
        color: var(--color-bg);
    } */

}

@media screen and (max-width: 810px) {
    .right-sidebar {
        display: none;
    }

    .left-sidebar {
        display: flex;
        /* width: ; 45%; */
        width: 50%;
    }

    nav {
        display: none;
    }

    .stories-container {
        display: block;
    }

    .logo-container {
        display: none;
    }

}

@media screen and (max-width: 700px) {
    .feeds-container {
        padding: 10px;
    }

    .logo-container {
        display: block;
    }

    .left-sidebar {
        display: none;
    }

    nav {
        display: inline-block;
        display: flex;
    }
}